{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div>
<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);
  #conditional-part{
    display: none;
  }
  * {
  margin: 0;
  padding: 0;
}
html {
  height: 100%; 
  background: #000060;
  background: -webkit-linear-gradient(to left, #6441A5, #2a0845); 
}
body {
  font-family: montserrat, arial, verdana;
  background: transparent;
}
#test {
  text-align: left;
  position: relative;
  margin-top: 30px;
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 10% 10%;
}

#test input {
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#test button {
    background-color: #FFFFFF;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000060;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000060;
    text-align:center;
    transition: all 0.2s;
}

#test button:hover {
  background-color: #000060;
  color:#FFFFFF;
}

#test title{
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}    
</style>
<body>
  <div class="container" id = "test">
      <h2>Great! There's just one more thing we need to know.</h2>
      <hr>
      <h4> Are you the one choosing the tool for this meeting? </h3>
      <hr>
      <form role = "form" action="" method="post">
          <div>
            <input type="radio" id="organizer" name="role" value="Yes">
            <label for="Yes">Yes, I can choose my own tool.</label>
          </div>
          <!-- <div id="conditional-part" display="none">
              <p class="conditional-part">This will show up if you're male</p>
          </div> -->
          <div>
            <input type="radio" id="participant" name="role" value="No">
            <label for="No">No, my organization has provided me with a tool.</label>
          </div>
        <br>
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
      <hr>
    </div>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[type=radio][name=role][value=organizer]').change(function() {
        if ($(this).prop("checked", true)) {
          // alert(`${this.value} is checked`);
          $("#conditional-part").show()
        }
        else{
          $("#conditional-part").hide()
        }
      });
    });    
  </script>
</div>

{% endblock %}