{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3>Welcome to the Remote Inclusivity Project</h3>
  <p>In this project, we aim to help guide you through the process of selecting the most inclusive tools for your meeting</p>
  <h2> Are you a meeting organizer or participant?</h2>
  <hr>
  <form action="" method="post" class="form" role="form">
    {{ form.csrf_token() }}


    <div class="form-group">
      {{ wtf.form_field(form.user_role)}}
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <p>Open one account - All humans working for you.</p>
  <p><a href="#">Sign in instead</a></p>
</div>
{% endblock %}
